@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --blue1: #3d5a80;
    --blue2: #98c1d9;
    --blue3: #e0fbfc;
    --orange: #ee6c4d;
    --black: #293241;
}
body {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.top {
    width: 100%;
    height: 70px;
    background: var(--blue1);
    display: flex;
    gap: calc(100vw - 70%);
    color: whitesmoke;
    /*justify-content: space-evenly;*/
    align-items: center;
}

#title {
    margin-left: 2em;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: whitesmoke;
}

#menu {
    justify-content: right;
    color: var(--blue3);
    display: flex;
    gap: calc(100vw/20);
    align-content: right;
}

.middle {
    margin: 0em 2em 0em;
    width: 100%;
    height: calc(100vh-85%);
    display: block;
    justify-content: space-around;
}

#image {
    /*width: auto;
    height: auto;
    img {
        width: 100%;
        height: 100%;
        object-position: 150px 0;
    }*/
    img {
        object-fit: cover;
    width: 100%;
    height: 50px;
    }
}
#welcome {
    font-family: 'Lobster', cursive;
    color: var(--black);
}
#content {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    font-family: 'Lobster', cursive;
    width: 100vw;
    height: calc(5em);
    background: var(--black);
    color: whitesmoke;
}
#contact {
    margin-top: 1em;
    margin-left: 2em;
}